* {
  text-decoration: none;
  list-style: none;
}
:root {
  --white-colour: #fff;
  --text-colour: #edf6f9;
  --light-colour: #83c5be;
  --dark-colour: #006d77;
  --orange-colour: #e29578;
  --light-orange-colour: #ffddd2;
  --black-colour: #000;
}
body {
  width: 100%;
}
.nav-container {
  width: 100%;
}
.nav-bar {
  background-color: rgba(255, 255, 255, 0.5);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
}

.menu {
  margin-left: 1.3rem;
  font-size: 2rem;
  background: none;
}
.menu-close {
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: white;
  width: 25rem;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -500%;
  transition: 100ms;
  padding-left: 1rem;
  z-index: 2;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.navbar-buttons {
  display: none;
}
.buttons-hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links-hamburger {
  margin: 12px 50px 0 1px;
  text-decoration: none;
  list-style: none;
  color: #006d77;
}
.navbar-button {
  background-color: linear-gradient(
    to right,
    var(--light-colour),
    var(--dark-colour)
  );
  border-radius: 0.65rem;
  border: none;
  box-shadow: 0px 3px 6px var(--dark-color);
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin-left: 1rem;
  width: 8rem;
  margin-top: 0.8rem;
}
.navbar-button:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: var(--dark-colour);
}
.button-hamburger {
  background-color: linear-gradient(
    to,
    var(--light-colour),
    var(--dark-colour)
  );
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border: none;
  color: var(--dark-colour);
  border-radius: 10px;
  padding: 0.4rem 0.5rem;
  /* margin: 0.5rem 0rem 3rem 0rem; */
  width: 100%;
  font-family: "Poppins", sans-serif;
  align-items: center;
  width: 8rem;
  /* margin-top: 1rem; */
}
.button-hamburger:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: var(--dark-colour);
}
.navbar-links {
  display: none;
  justify-content: space-between;
}
.links {
  height: 5rem;
  align-self: flex-start;
  display: none;
  text-decoration: none;
  list-style: none;
  color: #006d77;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
}
.links:hover {
  transform: scale(1.04);
  text-decoration: underline;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-btn-input);
  color: #006d77;
}

.navbar-text {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  height: 8rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  font-size: medium;
}
.logo-text {
  display: flex;
  justify-content: center;
  height: 5rem;
  font-family: "Poppins", sans-serif;
  margin: 3rem;
  font-size: 20px;
  border-radius: 3rem;
  margin-left: 3rem;
}

.navbar-text-hamburger {
  display: flex;
  justify-content: flex-start;
  padding-top: 0.4rem;
  height: 3rem;
  color: var(--dark-colour);
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid;
  margin: 0.5rem 3rem 0rem 0rem;
  text-decoration: none;
  list-style: none;
}

.navbar-text-hamburger:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: var(--dark-color);
}

.nav-menu-items {
  width: 100%;
  color: var(--dark-color);
}

.nav-bar-toggle {
  background-color: inherit;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.user-name-nav {
  color: var(--primary-light-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  /* margin-top: 0.8rem; */
  /* margin-bottom: 0.5rem; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.user-name-hamburger {
  color: var(--primary-light-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  list-style: none;
  text-decoration: none;
  padding-top: 1rem;
}
.right-links {
  text-decoration: none;
}
@media only screen and (min-width: 850px) {
  .hamburger {
    display: none;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    padding: 1.1rem 0;
  }
  .navbar-links {
    display: flex;
  }
  .links {
    display: flex;
    align-self: center;
    height: 2rem;
    font-size: 1rem;
    margin-left: 2rem;
    text-decoration: none;
    color: var(--primary-light-color);
  }
  .menu {
    display: none;
  }
  .logo-link {
    flex-grow: 1;
    text-align: center;
  }

  .navbar-buttons {
    display: flex;
    margin: 0 1rem 0 0;
  }
  .navbar-text {
    display: flex;
    justify-content: flex-start;
    margin: 0rem 1rem 0rem 0rem;
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1000px) {
  .right-links {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .links {
    margin-left: 2rem;
  }
  .navbar-text {
    margin: 0rem 2rem 0rem 0rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  .links {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1600px) {
  .links {
    font-size: 1.4rem;
  }
  .logo-text {
    margin: auto;
  }
}
