* {
  text-decoration: none;
  list-style: none;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.5);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 15%),
    -2px -2px 5px 1px rgb(0 0 0 / 15%);
  margin-bottom: 4rem;
}

.menu {
  margin-left: 1.3rem;
  font-size: 2rem;
  background: none;
}
.menu-close {
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: var(--white-color);
  width: 25rem;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -500%;
  transition: 100ms;
  padding-left: 1rem;
  z-index: 2;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.navbar-buttons {
  display: none;
}
.buttons-hamburger {
  display: flex;
  justify-content: space-between;
  margin-right: 4rem;
}
.navbar-button {
  border-radius: 0.65rem;
  border: none;
  box-shadow: 0px 3px 6px var(--primary-light-color);
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin-left: 1rem;
  width: 8rem;
  margin-top: 0.8rem;
  color: var(--primary-light-color);
  background-color: var(--accent-color);
}
.navbar-button:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: var(--primary-light-color);
}
.button-hamburger {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 6px var(--accent-color);
  border: none;
  color: var(--primary-light-color);
  border-radius: 10px;
  padding: 0.4rem 0.5rem;
  /* margin: 0.5rem 0rem 3rem 0rem; */
  width: 100%;
  font-family: "Poppins", sans-serif;
  align-items: center;
  width: 8rem;
  /* margin-top: 1rem; */
}
.button-hamburger:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: var(--primary-light-color);
}

.links {
  height: 5rem;
  align-self: flex-start;
  align-items: center;
  display: none;
  text-decoration: none;
  list-style: none;
  color: var(--primary-light-color);
}

.navbar-text {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  height: 8rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  font-size: medium;
}
.logo-text {
  display: flex;
  justify-content: center;
  height: 4rem;
  font-family: "Poppins", sans-serif;
  margin: 3rem;
  font-size: 20px;
  border-radius: 3rem;
  margin-left: 3rem;
  mix-blend-mode: multiply;
}

.navbar-text-hamburger {
  display: flex;
  justify-content: flex-start;
  padding-top: 0.4rem;
  height: 4rem;
  color: var(--dark-colour);
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid;
  margin: 0.5rem 3rem 0rem 0rem;
  text-decoration: none;
  list-style: none;
}

.navbar-text-hamburger:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: var(--accent-color);
}

.nav-menu-items {
  width: 100%;
  color: var(--primary-color);
}

.nav-bar-toggle {
  background-color: inherit;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.user-name-nav {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  /* margin-top: 0.8rem; */
  /* margin-bottom: 0.5rem; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.user-name-nav p {
  margin-bottom: 0px;
}

.user-name-hamburger {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  list-style: none;
  text-decoration: none;
  padding-top: 1rem;
}

@media only screen and (min-width: 1000px) {
  .hamburger {
    display: none;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    padding: 1.1rem 0;
  }
  .links {
    display: flex;
    align-self: center;
    height: 2rem;
    font-size: 1rem;
    margin-left: 2rem;
    color: var(--primary-light-color);
  }
  .menu {
    display: none;
  }
  .logo-link {
    flex-grow: 1;
    text-align: center;
  }

  .navbar-buttons {
    display: flex;
    margin: 0 1rem 0 0;
  }
  .navbar-text {
    display: flex;
    justify-content: flex-start;
    margin: 0rem 1rem 0rem 0rem;
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1200px) {
  .links {
    margin-left: 2rem;
  }
  .navbar-text {
    margin: 0rem 2rem 0rem 0rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  .links {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1600px) {
  .links {
    font-size: 1.4rem;
  }
  .logo-text {
    margin: 1rem;
    mix-blend-mode: multiply;
  }
}
