.homePage {
  min-height: 100vh;
}

.homePage .home-first-section {
  display: flex;
  align-items: center;
  margin: 40px 0 80px 0;
}

.homePage .home-first-section img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.content {
  margin: 3rem;
}

.website-info {
  color: var(--primary-color);
  font-size: 1.3rem;
}
.title-homepage {
  color: var(--accent-color);
  font-size: 1.7rem;
}

.homePage .home-first-section button {
  background-color: var(--accent-color);
  color: var(--primary-light-color);
  padding: 1rem 5rem;
  border-radius: 6px;
  margin: 1rem 3rem;
}

.homePage .invitation-container {
  box-shadow: 2px 2px 10px 1px rgb(0 0 0 / 15%),
    -2px -2px 10px 1px rgb(0 0 0 / 15%);
  margin: 60px auto;
}

.homePage .container {
  max-width: 1200px;
}

.homePage .header-box {
  margin-left: 90px;
  padding-top: 20px;
}

.homePage .invitation-header {
  text-decoration: none;
  color: var(--primary-color);
}

.homePage .slider-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0px 30px 10px 30px;
}

.homePage .slider-icon {
  width: 40px;
  height: 40px;
  opacity: 50%;
  cursor: pointer;
}

.homePage .slider-icon:hover {
  opacity: 100%;
}

.homePage .cards-container {
  width: 100%;
  display: flex;
  justify-content: left;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media (max-width: 600px) {
  .homePage .home-first-section {
    display: flex;
    flex-direction: column;
  }

  .homePage .home-first-section img {
    width: 100%;
    object-fit: contain;
  }

  .homePage .home-first-section p {
    text-align: center;
  }

  .homePage .home-first-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homePage .container {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }

  .homePage .header-box {
    margin-left: 60px;
    padding-top: 20px;
  }

  .homePage .slider-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 10px 0px;
  }
}
