* {
  text-decoration: none;
  list-style: none;
}

#myVideo {
  position: fixed;

  max-width: 100%;
  max-height: 100%;
  z-index: -999;
}

.homePage {
  height: 100vh;
}

.home-create-button {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #e7e7f1;
  background: #051715;
  background: linear-gradient(90deg, rgb(37, 41, 53) 0%, rgb(17, 86, 164) 100%);
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(3, 10, 56, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.home-create-button::before {
  content: "";
  border-radius: 5px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 1px solid #99b6f1;
  box-shadow: 0 0 15px rgba(28, 137, 246, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.home-create-button:hover,
.home-create-button:focus {
  color: #bebee8;
  transform: translateY(-6px);
}

.home-create-button:hover::before,
.home-create-button:focus::before {
  opacity: 1;
}

.home-create-button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00c8ff;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.home-create-button:hover::after,
.home-create-button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
.home-first-section {
  margin: 10px, auto;
  width: 100%;
}
.home-first-container {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-image-first {
  max-width: 100%;
}
.home-first-container {
  max-width: 100%;
}
@media (max-width: 600px) {
  .home-first-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
