:root {
  --primary-color: #bc9ec1;
  --secondary-color: #e3bac6;
  --accent-color: #596475;
  --primary-dark-color: #1f2232;
  --primary-light-color: #fde8e9;
  --error-color: #f48c06;
  --white-color: #ffffff;
}

* {
  text-decoration: none;
  list-style: none;
}

.form-app {
  display: block;
  width: fit-content;
  background-color: var(--white-color);
  color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 0px 3px 6px var(--accent-color);
  padding: 3rem 1rem 1.5rem 2rem;
}

.title-app {
  color: var(--accent-color);
  font-size: 1.7rem;
}

.btn-app {
  background-color: var(--accent-color);
  color: var(--primary-light-color);
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
}
.btn-app:hover {
  color: var(--accent-color);
  background-color: var(--primary-light-color);
  border-radius: 5px;
  border: solid 1px var(--accent-color);
}

.input-app {
  height: 50px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}
