:root {
  --white-color: #fff;
  --text-color: #edf6f9;
  --light-color: #83c5be;
  --dark-color: #006d77;
  --orange-color: #e29578;
  --light-orange-color: #ffddd2;
  --black-color: #000;
}

.team-member-box {
  margin: 2rem;
  border: solid 2px;
  border-radius: 20px;
}

.team-pic {
  width: 200px;
  border-radius: 20px;
  display: block;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.data-box {
  text-align: center;
}

.icon-social {
  margin-left: 5px;
  margin-top: -1.4rem;
}

.icon-social-box {
  margin-left: 0.7rem;
}

.team-member-name {
  font-size: 1.4rem;
}

.paragraph {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: justify;
  padding: 2rem;
}

/* =============================Media Query section================================== */
@media only screen and (min-width: 600px) {
  .team-member-box {
    display: flex;
  }
  .team-pic {
    width: 100%;
  }

  .paragraph {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}

@media only screen and (min-width: 700px) {
  /* .paragraph {
    font-size: 24px;
    margin-top: 3rem;
  } */
  .team-pic {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .team-member-box {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .paragraph {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1200px) {
  .team-pic {
    margin-top: 3rem;
    width: 100%;
  }
  .home-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .paragraph {
    font-size: 14px;
  }
}
