:root {
  --white-color: #fff;
  --text-color: #edf6f9;
  --light-color: #83c5be;
  --dark-color: #006d77;
  --orange-color: #e29578;
  --light-orange-color: #ffddd2;
  --black-color: #000;
}
.home-container {
  margin-left: auto;
  margin-right: auto;
}

.welcoming-section {
  text-align: center;
  background-color: var(--dark-color);
  color: var(--text-color);
  border-radius: 20px;
  margin: 2rem;
}
.first-team-title {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.aboutUs-paragraph {
  font-size: 1.2rem;
  text-align: justify;
  padding-top: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.teamIntro-container {
  text-align: justify;
  padding: 0.7rem;
}

.team-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border-radius: 20px;
}

.team-title {
  text-align: right;
}

.team-text {
  text-align: center;
  font-size: 1rem;
}

/* =============================Media Query section================================== */

@media only screen and (min-width: 1000px) {
  .first-team-title {
    font-size: 2rem;
  }
  .aboutUs-paragraph {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1200px) {
  .first-team-title {
    font-size: 3rem;
  }
  .aboutUs-paragraph {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1600px) {
  .first-team-title {
    font-size: 3rem;
  }
  .aboutUs-paragraph {
    font-size: 2rem;
  }
}
