:root {
  --white-color: #fff;
  --text-color: #edf6f9;
  --light-color: #83c5be;
  --dark-color: #006d77;
  --orange-color: #e29578;
  --light-orange-color: #ffddd2;
  --black-color: #000;
}
.teamIntro-container {
  padding: 1rem;
}
.first-team-title {
  margin-left: auto;
  margin-right: auto;
}
.aboutUs-paragraph {
  text-align: justify;
}
.accordion {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.accordion-button {
  margin-left: -0.8rem;
}

.team-member-box {
  margin: 2rem;
  border: solid 2px var(--orange-color);

  border-radius: 20px;
}

.team-pic {
  width: 200px;
  border-radius: 20px;
  display: block;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.data-box {
  text-align: center;
}

.icon-social {
  margin-left: 5px;
  margin-top: -1.4rem;
}

.icon-social-box {
  margin-left: 0.7rem;
}

.team-member-name {
  font-size: 1.4rem;
  color: var(--dark-color);
}

.paragraph {
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  text-align: justify;
  padding: 2rem;
  color: var(--dark-color);
}
.meet-team {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

/* =============================Media Query section================================== */
@media only screen and (min-width: 600px) {
  .team-member-box {
    display: flex;
  }
  .team-pic {
    width: 70%;
  }

  .paragraph {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
}

@media only screen and (min-width: 700px) {
  .team-pic {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .team-member-box {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .paragraph {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1200px) {
  .accordion {
    margin-top: 2rem;
  }
  .team-pic {
    margin-top: 3rem;
    width: 200px;
  }

  .paragraph {
    font-size: 20px;
  }
  .teamIntro-container {
    margin-left: 7rem;
    margin-right: 7rem;
  }
}
