.buttonGroup {
  display: flex;
  margin: 2rem auto;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.buttonGroup button {
  border-radius: 5px;
  background-color: var(--dark-color);
  color: white;
  width: 15%;
  border: none;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  max-width: 200px;
  min-width: 120px;
  padding: 5px;
  margin-right: 5px;
}

.buttonGroup button:hover {
  background-color: white;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
}

.event-page-container {
  height: 100vh;
}
.btn-div {
}

.copyLinkGroup {
  display: flex;
  padding-right: 10px;
  width: 50%;
  margin: auto;
  min-width: 300px;
}

.copyLinkGroup button {
  border-radius: 5px;
  background-color: var(--dark-color);
  color: white;
  width: 20%;
  border: none;
  margin-left: 5px;
  min-width: 100px;
}
.copyLinkGroup button:hover {
  background-color: white;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
}
.img-box {
  max-width: 50%;
}
.copyLinkGroup input[type="text"] {
  margin: 0px 0px 0px 10px;
  height: 47px;
  flex-grow: 1;
}

.details {
  margin: auto;
  width: 60%;
  min-width: 400px;
}

.weddingDefault .title {
  color: dimgray;
  visibility: visible;
  font-size: 15px;
}

.weddingDefault .item {
  line-height: 30px;
}

.form {
  margin: 16px;
  margin: auto;
  width: 60%;
  min-width: 400px;
}

.form .question {
  margin-bottom: 20px;
}

.form .required {
  font-size: 10px;
  color: red;
  visibility: visible;
  vertical-align: super;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"] {
  height: 40px;
  width: calc(100% - 40px);
  border-color: var(--bs-accordion-border-color);
  margin-left: 20px;
}

.form input[type="radio"],
.form input[type="checkbox"] {
  width: fit-content;
  margin-right: 6px;
  margin-left: 20px;
}

.form .option {
  color: dimgray;
}
.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  margin-top: -1rem;
}
