.welcome {
  min-height: 100vh;
}

.description {
  margin: 10rem auto;
  text-align: center;
}
.description > p {
  letter-spacing: 2px;
  text-indent: 2rem;
  margin-top: 7rem;
}
.description > h1 {
  margin-bottom: 1rem;
  text-indent: 2rem;
  font-family: "Arial Black", sans-serif;
  padding: 1rem;
}
.desc1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.desc1-container {
  width: 80%;
  max-width: 600px;
  margin: 0 20px;
  margin-top: -40px;
}

.desc1-container p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 6rem;
}
.aboutApp {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}
.free {
  height: 10rem;
  width: 10rem;
  background-color: #ff8185;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.about-section {
  width: 150px;
  height: 150px;
}
.tree {
  height: 10rem;
  width: 10rem;
  background-color: #ff8185;
  margin: auto;
}
.simple {
  height: 10rem;
  width: 10rem;
  background-color: #ff8185;
  margin: auto;
}
.easy {
  height: 10rem;
  width: 10rem;
  background-color: #ff8185;
  margin: auto;
}

.header {
  width: 80vw;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-text-box {
  width: 50%;
  justify-content: center;
  padding: 15px;
}
.header-text-box p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 6rem;
}
.image-container {
  width: 50%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}
.hero-img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-radius: 15px;
}
.down {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-flow: row;
  height: 331px;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: rgb(24, 59, 84);
  margin-bottom: 3rem;
}

.par-2 {
  color: rgb(255, 255, 255);
  font-family: new-spirit, serif;
  font-weight: 500;
  font-size: 64px;
  letter-spacing: -0.666667px;
  line-height: 90px;
  margin: 0px 0px 20px;
  text-align: center;
  max-width: 100%;
}
.btn-down {
  border: 1px solid rgb(14, 14, 14);
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: background-color 0.3s ease 0s;
  background-color: rgb(255, 255, 255);
  color: rgb(14, 14, 14);
}
.down-container {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 20;
}
@media screen and (min-width: 1000px) {
  .aboutApp {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .image-container {
    width: 80%;
  }
  .header-text-box {
    width: 80%;
  }
}
