.welcome {
  min-height: 100vh;
}

.description {
  margin: 3rem auto;
  text-align: center;
  padding: 10px;
}
.description > p {
  letter-spacing: 2px;
  text-indent: 2rem;
  margin-top: 7rem;
}
.description > h1 {
  margin-bottom: 1rem;
  text-indent: 2rem;
  font-family: "Arial Black", sans-serif;
  padding: 1rem;
}
.desc1 {
  width: 80vw;
  margin: auto;
  margin-bottom: 6rem;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.desc1-container {
  width: 50%;
  justify-content: center;
  padding: 15px;
}

.desc1-container p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 6rem;
}
.aboutApp {
  display: flex;
  height: 500px;
  width: 100vw;
  margin: auto;
  flex-wrap: wrap;
}
.free {
  width: 25%;
  display: flex;
  margin: auto;
}
.about-section {
  width: 150px;
  height: 150px;
  border-right: 10px solid #ff8185;
  border-bottom: 10px solid #ff8185;
  margin: auto;
}

.header {
  width: 80vw;
  margin: auto;
  margin-bottom: 6rem;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-text-box {
  width: 50%;
  justify-content: center;
  padding: 15px;
}
.header-text-box p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 6rem;
}
.image-container {
  width: 50%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}
.hero-img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-radius: 15px;
}
.down {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-flow: row;
  height: 400px;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: rgb(24, 59, 84);
  margin-bottom: 3rem;
}

.par-2 {
  color: rgb(255, 255, 255);
  font-family: new-spirit, serif;
  font-weight: 500;
  font-size: 64px;
  letter-spacing: -0.666667px;
  line-height: 90px;
  margin: 0px 0px 20px;
  text-align: center;
  max-width: 100%;
}
.btn-down {
  background-color: #ff8185;
  color: white;
  border-radius: 5px;
  min-width: 200px;
  border: none;
  height: 50px;
  margin: auto;
  margin-top: 10px;
}
.btn-down:hover {
  color: #ff8185;
  background-color: #fdd1d3;
}
.down-container {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 20;
}
.main1 {
  width: 50%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.imagePhoto {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  height: auto;
  vertical-align: bottom;
}
@media screen and (max-width: 600px) {
  .imagePhoto {
    border-radius: 0;
  }
  .main1 {
    width: 100vw;
  }
}
@media screen and (min-width: 1000px) {
  .aboutApp {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .image-container {
    width: 100%;
  }
  .header-text-box {
    width: 100%;
  }
  .header {
    width: 100vw;
  }
  .hero-img {
    border-radius: 0;
  }
  .desc1-container {
    width: 100vw;
  }
  .main1 {
    width: 100%;
  }
  .desc1 {
    width: 100%;
  }
  .free {
    width: 50%;
  }
}
