.welcome {
  min-height: 100vh;
}

.description {
  margin: 3rem auto;
  text-align: center;
}
.description > p {
  letter-spacing: 2px;
  text-indent: 2rem;
}

.desc1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.desc1-container {
  width: 80%;
  max-width: 600px;
  margin: 0 20px;
  margin-top: -40px;
}

.desc1-container p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 2rem;
}
