.home-container {
  margin-left: auto;
  margin-right: auto;
}

.welcoming-section {
  font-size: 3rem;
  text-align: center;
  background-color: #9674d5;
  color: aliceblue;
  border-radius: 20px;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  padding: 2rem;
}

.getStart-btn {
  border-radius: 8px;
  border: none;
  padding: 9px;
  padding-left: 19px;
  padding-right: 19px;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  margin-right: 1rem;
}

#Wedding-pic {
  height: 100%;
  width:100%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

#myVideo {
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  z-index: -999;
}


/* =============================Media Query section================================== */

@media only screen and (min-width: 1000px) {
  .welcoming-section {
    font-size: 2.7rem;
  }

  .first-title {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .welcoming-section {
    font-size: 3rem;
  }

  .first-title {
    font-size: 4.3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .welcoming-section {
    font-size: 3.5rem;
  }

  .first-title {
    font-size: 5rem;
  }
}