.welcome {
  min-height: 100vh;
}

.description {
  margin: 3rem auto;
  text-align: center;
}
.description > p {
  letter-spacing: 2px;
  text-indent: 2rem;
}
.description > h1 {
  margin-bottom: 1rem;
  text-indent: 2rem;
  font-family: "Bradley Hand", sans-serif;
  padding: 1rem;
}
.desc1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.desc1-container {
  width: 80%;
  max-width: 600px;
  margin: 0 20px;
  margin-top: -40px;
}

.desc1-container p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 2rem;
}
.aboutApp {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 3rem;
}
.free {
  height: 10rem;
  width: 10rem;
  background-color: #ff5a5f;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.about-section {
  width: 150px;
  height: 150px;
}
.tree {
  height: 10rem;
  width: 10rem;
  background-color: #ff5a5f;
  margin: auto;
}
.simple {
  height: 10rem;
  width: 10rem;
  background-color: #ff5a5f;
  margin: auto;
}
.easy {
  height: 10rem;
  width: 10rem;
  background-color: #ff5a5f;
  margin: auto;
}
