.questionBox {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: left;
  margin-top: 2rem;
}

.text-number-input {
  padding: 15px;
  width: 80%;
}
.radio-input {
  width: 20px;
  height: 20px;
  margin: auto;
}
.answerBox {
  display: flex;
}

.question {
  width: 80%;

  margin-bottom: 20px;
}

.textAnswers {
  width: 80%;
  margin: auto;
}

.textAnswers input {
  width: 70%;
}

.required {
  font-size: 10px;
  color: red;
  visibility: visible;
  vertical-align: super;
}

.option {
  margin: 15px 15px 15px 15px;
}

.question-text {
  margin-bottom: 15px;
}
.guest-submit-btn {
  border-radius: 10px;
  width: 7rem;
  padding: 10px;
  color: white;
  background-color: var(--dark-color);
  margin-bottom: 3rem;
}
.weddingDefault {
  margin-left: 5rem;
}
.questionBox {
  margin-left: 5rem;
}
