* {
  font-family: "Poppins", sans-serif;
}

.footer {
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  position: relative;
  font-size: 13px;
}

.container-footer {
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.contact-us-box {
  margin-top: -3rem;
}

.logo {
  width: 150px;
  border-radius: 5rem;
  padding: 10px;
}

.icons {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
  margin-top: -2rem;
}

.text {
  color: white;
  margin-top: 10px;
}

.social-icons {
  margin-left: -32px;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.mailp {
  padding: -32px;
  color: white;
}

.mailp:hover {
  color: tomato;
}

.sci li a :hover {
  background: tomato;
  width: 120px;
}

.icons {
  color: white;
}

.copyrightText {
  width: 100%;
  background: #181818;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  color: #999;
}

.social-box {
  padding: 10px;
}

@media (min-width: 700px) {
  .footer {
    font-size: 20px;
    width: 100%;
  }

  .logo {
    min-width: 200px;
  }

  .social-box {
    margin-left: 3rem;
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .col {
    flex-basis: 100%;
  }

  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }

  .contact-us-box {
    margin-top: 10px;
  }
}

@media (min-width: 1100px) {
  .contact-us-box {
    margin-left: 10rem;
  }

  .logo {
    margin-right: 10rem;
  }
}
