.footer {
  margin-top: 2rem;
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  position: relative;
}

.footer .container-footer {
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer .contact-us-box {
  margin-top: -3rem;
}

.footer .logo {
  width: 150px;
  border-radius: 5rem;
  padding: 10px;
}

.footer .icons {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
  margin-top: -2rem;
}
.footer .text {
  color: var(--white-color);
  margin-top: 10px;
}

.footer .social-icons {
  margin-left: -32px;
}

.footer .sci {
  margin-top: 20px;
  display: flex;
}

.footer .sci li {
  list-style: none;
}

.footer .sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.footer .mailp {
  padding: -32px;
  color: var(--white-color);
}

.footer .mailp:hover {
  color: var(--primary-color);
}

.footer .sci li a :hover {
  background: var(--accent-color);
  width: 120px;
}

.footer .icons {
  color: var(--white-color);
}

.footer .copyrightText {
  width: 100%;
  background: var(--primary-dark-color);
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  color: var(--accent-color);
}

.footer .social-box {
  padding: 10px;
}

@media (min-width: 700px) {
  .footer {
    font-size: 20px;
    width: 100%;
  }

  .footer .logo {
    min-width: 230px;
  }

  .footer .social-box {
    margin-left: 3rem;
  }

  .footer .contact-container {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .footer .col {
    /* flex-basis: 100%; */
  }

  .footer .col:nth-child(2),
  .footer .col:nth-child(3) {
    /* flex-basis: 100%; */
  }

  .footer .contact-us-box {
    margin-top: 10px;
  }
}

@media (min-width: 1100px) {
  .footer .contact-us-box {
    margin-left: 10rem;
  }

  .footer .logo {
    margin-right: 10rem;
  }
}

@media (min-width: 1100px) {
  .footer .contact-us-box {
    margin-left: 10rem;
  }

  .footer .logo {
    margin-right: 10rem;
  }
}
