.signup-box {
  display: block;
  margin: 2rem auto 2rem auto;
  width: fit-content;
  background-color: var(--white-color);
  color: var(--primary-color);
  border-radius: 15px;
  padding: 3rem 1rem 1.5rem 2rem;
  box-shadow: 0px 3px 6px var(--accent-color);
}
.signup-form {
  width: 90%;
  margin: auto;
}
.btn-box {
  width: 50%;
  margin: auto;
}
.create-title {
  margin: 1.2rem;
  margin-top: -0.7rem;
  text-align: center;
}
.sign-up-btn {
  width: 70%;
  height: 50px;
  margin: auto;
  margin-top: 10px;
}

.form-box {
  padding: 10px;
}
@media only screen and (min-width: 200px) {
  .signup-box {
    max-width: 90%;
    margin: auto;
    margin-top: -8rem;
  }
  .sign-up-btn {
    min-width: 50px;
  }
}
