.signup-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.signup-form {
  background-color: #83c5be;
  padding: 0px 60px;
  border-radius: 10px;
}

button {
  width: 50%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #1d3557;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
