:root {
  --white-color: #fff;
  --text-color: #edf6f9;
  --light-color: #83c5be;
  --dark-color: #006d77;
  --orange-color: #e29578;
  --light-orange-color: #ffddd2;
  --black-color: #000;
}

.signup-box {
  display: block;
  margin: 2rem auto 2rem auto;
  width: fit-content;
  background-color: var(--dark-color);
  color: var(--text-color);
  border-radius: 15px;
  padding: 1.5rem 1rem 1.5rem 2rem;
  /* padding-left: 2rem; */
}

.create-title {
  margin: 1.2rem;
  margin-top: -0.7rem;
  text-align: center;
}
.sign-up-btn {
  border-radius: 5px;
  background-color: var(--light-orange-color);
  color: var(--dark-color);
  width: 90%;
  border: none;
  height: 50px;
  margin-top: 30px;
}
