.event-line-error-message {
  font-size: 12px;
  padding: 0.3rem;

  color: rgb(241, 47, 13);
  display: none;
}

input:invalid[focused="true"] ~ .event-line-error-message {
  display: block;
}
.event-line {
  width: 80%;
  margin: auto;
}
.event-line-title {
  display: flex;
  flex-direction: column;
}

datalist {
  background-color: rgb(241, 47, 13);
}
