:root {
  --white-color: #fff;
  --text-color: #edf6f9;
  --light-color: #83c5be;
  --dark-color: #006d77;
  --orange-color: #e29578;
  --light-orange-color: #ffddd2;
  --black-color: #000;
}

h1 {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.login-box {
  background-color: var(--dark-color);
  color: var(--text-color);
  border-radius: 20px;
  margin: 2rem;
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.log-in-btn {
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 1rem;
  background-color: var(--light-orange-color);
  color: var(--dark-color);
  width: 50%;
  margin-bottom: 20px;
  margin-left: 60px;
}

p {
  padding-left: 1rem;
}

a {
  color: #000;
}
