:root {
  --white-color: #fff;
  --text-color: #edf6f9;
  --light-color: #83c5be;
  --dark-color: #006d77;
  --orange-color: #e29578;
  --light-orange-color: #ffddd2;
  --black-color: #000;
}
.log-title {
  text-align: center;
  margin-left: -4rem;
  padding: 1rem;
}
.login-box {
  display: block;
  margin: 2rem auto 2rem auto;
  width: fit-content;
  background-color: var(--dark-color);
  color: var(--text-color);
  border-radius: 15px;
  padding: 1.5rem 1rem 1.5rem 2rem;
}
.log-in-btn {
  border-radius: 5px;
  background-color: var(--light-orange-color);
  color: var(--dark-color);
  width: 86%;
  border: none;
  height: 50px;
  margin-top: 10px;
}
.input-check-box {
  width: 15px;
  margin-left: 10px;
}
.remember-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  margin-top: -1rem;
}
.new-account-link {
  margin-top: 15px;
}
