.log-title {
  text-align: center;

  padding: 1rem;
}
.login-box {
  margin: auto;
  margin-top: 5rem;
  border-radius: 15px;
}
.log-in-btn {
  border-radius: 5px;
  width: 70%;
  border: none;
  height: 50px;
  margin: 2rem auto;
}
.btn-box {
  width: 50%;
  margin: auto;
  display: flex;
}

.input-check-box {
  width: 15px;
  margin-right: 10px;
}
.remember-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  width: 45%;
  margin-left: 2rem;
}
.new-account-link {
  margin-top: 0.5rem;
  margin-left: 2rem;
  padding-left: 1rem;
}
.form-box {
  padding: 10px;
}
.loginPage-form-box {
}

.login-labels {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 200px) {
  .login-box {
    max-width: 90%;
    margin: auto;
    margin-top: -8rem;
  }
  .log-in-btn {
    min-width: 50px;
  }
}
.login-form {
}
