:root {
  --white-color: #fff;
  --text-color: #edf6f9;
  --light-color: #83c5be;
  --dark-color: #006d77;
  --orange-color: #e29578;
  --light-orange-color: #ffddd2;
  --black-color: #000;
}

.formInput {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid #006d77;
  width: 70%;
}

span {
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-right: 3px;
  color: #bb0c1b;
  visibility: hidden;
}

input:invalid[focused="true"] {
  border: 1px solid #e63946;
}

input:invalid[focused="true"] ~ span {
  visibility: visible;
}

.hideIcon {
  cursor: pointer;
  padding-left: 20px;
}
