.containerResult {
  margin: auto;
  margin-top: 1.6rem;
  padding: 0.4rem 3rem;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  min-width: 100%;
}
.guests-count-box {
  box-shadow: 0px 3px 6px var(--accent-color);
  padding: 3rem 2rem 1.5rem 2rem;
  border-radius: var(--border-radius-form);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.count-box {
  display: flex;
  justify-content: space-between;
}
.lists-box {
  box-shadow: 0px 3px 6px var(--accent-color);
  padding: 3rem 2rem 1.5rem 2rem;
  border-radius: var(--border-radius-form);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.guestList-btn {
  width: fit-content;
  font-size: large;
  padding: 10px;
  margin: 1rem;
  font-size: 14px;
}
.exit {
  padding: 0.5rem;
  width: fit-content;
  font-size: 10px;
  font-weight: 700;
  margin-top: -1rem;
  float: right;
}
.list-box {
  text-align: start;
}
.result-chart-component {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  grid-column: span 6;
  padding: 3rem 1rem 5rem 1rem;
  box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 15%),
    -2px -2px 5px 1px rgb(0 0 0 / 15%);
}
.no-result-msg {
  font-size: large;
  border-radius: 5px;
}
.sorry-span {
  padding: 5px;
  text-align: start;
  border-radius: 5px;
  background-color: var(--primary-dark-color);
  color: var(--white-color);
}
.flex-bar-chart-section {
  gap: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 600px) {
  .flex-bar-chart-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
