* {
  text-decoration: none;
  list-style: none;
}

.create-form-container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.event-line-title {
  flex-direction: column;
  color: black;
  text-align: left;
  margin: 15px 15px;
  padding: 5px;
}
.create-form {
  display: block;
  margin: 2rem auto 2rem auto;
  width: fit-content;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 3rem 1rem 1.5rem 2rem;
  box-shadow: 0px 3px 6px var(--dark-color);
}
.create-form-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: black;
}

.form-line {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.create-form-input-date {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0.5rem;
}
::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.create-form-tag-title {
  color: black;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.create-form-submit {
  border-radius: 5px;
  background-color: var(--dark-color);
  color: white;
  min-width: 200px;
  border: none;
  height: 50px;
  margin: auto;
  margin-top: 10px;
}
.create-form-submit:hover {
  background-color: white;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
}
.event-line input {
  padding: 0px 5px;
}
input::file-selector-button {
  border-radius: 5px;
  background-color: var(--dark-color);
  color: white;
  border: none;
  height: 50px;
  margin: auto;
  max-width: 200px;
  margin-right: 20px;
}
input::file-selector-button:hover {
  background-color: white;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
}
.create-form-image-preview {
  width: 200px;

  object-fit: cover;
  border-radius: 30%;
  margin: auto;
}
.form-img-box {
  width: 200px;

  margin: auto;
}

.create-form-input-photo {
  margin-left: 1.5rem;
  border: none;
}

.create-form-description-tag {
  margin-left: 0.5rem;
  color: black;
  border-radius: 50%;
}

.error {
  color: rgb(241, 47, 13);
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .create-form-input-date {
    width: 50%;
  }
  .create-form {
    width: 30rem;
  }
  .create-form-tags {
    width: 30%;
  }

  .create-form-input-photo {
    margin-left: 5rem;
  }

  .event-form-description {
    padding: 15px;
  }
  .create-form-description-tag {
    margin-left: 2rem;
  }
  span .evet-line.error-message {
    margin-left: 5rem;
  }
}

@media only screen and (min-width: 900px) {
  .create-form-input-date {
    width: 40%;
  }
  .create-form {
    width: 40rem;
  }
}
