* {
  text-decoration: none;
  list-style: none;
}

.create-form-container {
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    -45deg,
    #5c6b73,
    #9db4c0,
    #1f7a8c,
    #e0fbfc,
    #80ffdb
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  border-radius: 10%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.event-line-title {
  display: flex;
  flex-direction: column;
  color: #edf6f9;
}
.create-form {
  margin: 3rem;
  font-family: "Poppins", sans-serif;
  border: 1px solid #000000;
  border-radius: 20px;
  align-self: center;
  background-color: #9db4c0;
}
.create-form-header {
  margin-top: 2rem;
  text-align: center;
  color: #edf6f9;
}

.form-line {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-input {
  border-bottom: 1px solid black;
  outline: none;
  font-size: 14px;
  border-radius: 10px;
  padding: 0.5rem;
  margin-left: 2rem;
}

.create-form-input-date {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0.5rem;
}
::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.create-form-tag-title {
  margin-left: 4rem;
  color: #edf6f9;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.create-form-submit {
  background-color: rgb(241, 47, 13);
  color: #ffffff;
  border-radius: 10px;
  padding: 0.4rem 2rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  align-items: center;
  width: 8rem;
  align-self: center;
  margin: 3rem;
}

input::file-selector-button {
  background-color: rgb(241, 47, 13);
  color: #ffffff;
  border-radius: 10px;
  padding: 0.3rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.create-form-image-preview {
  width: 7cm;
  height: 7cm;
  object-fit: cover;
  border-radius: 30%;
}

.create-form-input-photo {
  margin-left: 1.5rem;
  border: none;
}

.create-form-description-tag {
  margin-left: 0.5rem;
  color: #edf6f9;
  border-radius: 50%;
}

.error {
  color: rgb(241, 47, 13);
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .create-form-input-date {
    width: 50%;
  }
  .create-form {
    width: 30rem;
  }
  .create-form-tags {
    width: 30%;
  }
  .form-input {
    margin-left: 5rem;
  }
  .create-form-input-photo {
    margin-left: 5rem;
  }
  .create-form-image-preview {
    margin-left: 10rem;
    margin-top: 2rem;
  }
  .create-form-tag-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #edf6f9;
  }
  .event-form-description {
    margin-left: 2rem;
  }
  .create-form-description-tag {
    margin-left: 2rem;
  }
  span .evet-line.error-message {
    margin-left: 5rem;
  }
}

@media only screen and (min-width: 900px) {
  .create-form-input-date {
    width: 40%;
  }
  .create-form {
    width: 40rem;
  }
}
